aside {
    float: left;
    background-color: azure;
    padding-bottom: 300px;
    padding-right: 10px;
    margin-right: 10px;
}

aside a {
    display: block;
    color: #333333;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

aside a:hover {
    background-color: #dcdcdc;
}