<div class="main">
  <h2 class="pageTitle">メモ一覧</h2>
  <div class="memoList">
    <div *ngFor="let memo of sMemos">
      <p>
        <a routerLink="/memoDetail/{{ memo.id }}">{{
          memo.title | stringCut: 40
        }}</a>
      </p>
    </div>
  </div>
</div>
<div class="sortMenu">
  <p>タグで絞り込み</p>
  <select [(ngModel)]="pickUpTag">
    <option value="all">全て</option>
    <option value="none">タグなし</option>
    <option *ngFor="let tag of tags" [value]="tag.tag">{{ tag.tag }}</option>
  </select>
  <p>並べ替え</p>
  <select [(ngModel)]="sortColum">
    <option value="default">登録順(デフォルト)</option>
    <option value="title">五十音順</option>
    <option value="upDay">編集順</option>
  </select>
  <input type="radio" name="up" [value]="true" [(ngModel)]="isUpperSort" />
  <label>昇順</label>
  <input type="radio" name="down" [value]="false" [(ngModel)]="isUpperSort" />
  <label>降順</label>
  <button type="submit" name="sort" (click)="sortMemos()">ソート</button>
</div>
